body{
  background:rgba(0,0,0,0.85);
}
#container{
  max-width:400px;
  min-width:200px;
  width:100%;
  padding:5px;
  border-radius:5px;
  border: 1px solid white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.row{
  display:flex;
}
.box{
  border:1px solid black;
  min-width:50px;
  min-height:50px;
  margin:0;
  box-sizing:border-box;
}
.row:nth-child(odd) .box:nth-child(odd){
  background:white;
}
.row:nth-child(even) .box:nth-child(odd){
  background:black;
}
.row:nth-child(even) .box:nth-child(even){
  background:white;
}
.row:nth-child(odd) .box:nth-child(even){
  background:black;
}
