body{
  background:rgba(0,0,0,0.85);
}
#container{
  width:400px;
  padding:5px;
  border-radius:5px;
  border: 1px solid white;
  position: relative;
  left: 40%;
  transform: translateY(50%);
}
.row{
  display:flex;
}
.box{
  border:1px solid black;
  min-width:50px;
  min-height:50px;
  max-width:300px;
  max-height:300px;
  margin:0;
  box-sizing:border-box;
}
.row:nth-child(odd) .box:nth-child(odd){
  background:white;
}
.row:nth-child(even) .box:nth-child(odd){
  background:black;
}
.row:nth-child(even) .box:nth-child(even){
  background:white;
}
.row:nth-child(odd) .box:nth-child(even){
  background:black;
}
